[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "==1.18.1"
annotated-doc = "==0.0.4"
annotated-types = "==0.7.0"
anyio = "==4.12.1"
click = "==8.3.1"
colorama = "==0.4.6"
dotenv = "==0.9.9"
fastapi = "==0.128.0"
greenlet = "==3.3.1"
h11 = "==0.16.0"
httptools = "==0.7.1"
idna = "==3.11"
mako = "==1.3.10"
markupsafe = "==3.0.3"
psycopg2 = "==2.9.10"
psycopg2-binary = "==2.9.11"
pydantic = "==2.12.5"
pydantic-core = "==2.41.5"
python-dotenv = "==1.2.1"
pyyaml = "==6.0.3"
sniffio = "==1.3.1"
sqlalchemy = "==2.0.46"
starlette = "==0.50.0"
typing-inspection = "==0.4.2"
typing-extensions = "==4.15.0"
uvicorn = "==0.40.0"
watchfiles = "==1.1.1"
websockets = "==16.0"
pytz = "*"

[dev-packages]

[requires]
python_version = "3.13"
